html, body {
  height: 100%;
}
body {
  margin: 0;
  background: #f8f0e5;
  font-family: sans-serif;
}

.video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.hover-overlay {
  position: absolute;
  bottom: 20px; /* o donde quieras colocarlo */
  left: 50%;
  transform: translateX(-50%);
  background: none;
  color: white;
  font-size: 1.5em;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.video-container:hover .hover-overlay {
  opacity: 1;
}
